<div id ="main_contents">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <h2>パスワードをリセット</h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードをリセット", :class => "button" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
  
</div>
